.superInput {

}

.errorInput {
    width: 300px;
    font-size: 20px;
    padding: 6px 0 4px 10px;
    border: 1px solid #fcfafa;
    background: #f1f1f1;
    border-radius: 8px;
}

.error {
    color: #c70606;
    font-size: small;
}